

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: calibri;
    background-image: url(images/Motif.png);
    background-color: lightgray;
    aspect-ratio: 1 / 1;
}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

section {
    height: 100vh;
    color: black;
}

section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;

}

section h3 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;

}

}

section h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;

}

}

section h4 {
    padding-top: 100px;
    text-align: center;
    font-size: 40px;

}

.caracteristique {
    color: dimgray;
}

.achat-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 15px 40px;
  border-radius: 50px;
  background: linear-gradient(to right, #3f3f3f, #111);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-left: 400px;
}

.achat-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .achat-btn {
    padding: 12px 30px;
  }
}

@media (max-width: 576px) {
  .achat-btn {
    padding: 10px 25px;
  }
}


.telephone {
    float: left;
     margin-left: 200px;
     position: relative;
     overflow: hidden;
}

.telephone img {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.telephone:hover img {
    transform: scale(1.2);
}

.txtachat {
    float: center;
    margin-left: 620px;
    margin-right: 20px;
    color: dimgray;
}

.prix {
    margin-left: 860px;
    font-size: 40px;
}

.txtachat2 {
    float: center;
    margin-left: 620px;
    margin-right: 20px;
}


.bouton-cgv {
    background: linear-gradient(to right, #3f3f3f, #111);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}


.bouton-cgv:hover {
    background-color: #c62828;
}


.bouton-cga {
    background: linear-gradient(to left, #3f3f3f, #111);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}


.bouton-cga:hover {
    background-color: #0d47a1;
}

.cgatxt {
    margin-left: 30px;
    margin-right: 30px;
}

.cgvtxt {
    margin-left: 30px;
    margin-right: 30px;
}

.titre {
    margin-left: 30px;
    margin-right: 30px;
}

.caracteristique {
    margin-left: 30px;
    margin-right: 30px;
}